Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
Flask-WTF==1.2.1
flask-limiter==3.11.0
python-socketio==5.11.4
eventlet==0.36.1
pyTelegramBotAPI==4.22.1
requests==2.32.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
rich==13.9.2
validators==0.28.1
email_validator==2.2.0
geopy==2.4.1
upstash-redis==0.15.0
pydantic==2.9.2
gunicorn==22.0.0
tenacity==8.2.3
python-telegram-bot
